<%- include('partials/header.ejs') -%>

 <div class="content">
   <div class="container">
     <div class="row">
         <div class="col-8">
           <button type="button" id = "btn" class="btn btn-outline-secondary shadow">ADD temporary Admin</button>
           <form action="/admin/admincreate" method = "post" id="form" style="margin-top:80px;display:none;">
               <div class="form-group">
                 <input id="forminput" type="username" name="username" value="" class="form-control shadow" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username..">
               </div>
               <div class="form-group">
                 <input id="forminput" name="password" value="" type="password" class="form-control shadow" id="exampleInputPassword1" placeholder="Password..">
               </div>
               <button type="submit" class="btn btn-primary">Add New One</button>
           </form>
         </div>
      
     </div>
 </div>
</div>


<script type="text/javascript">
  <!-- add admin -->
  var btn = document.getElementById('btn');
  var form = document.getElementById('form');
  btn.addEventListener('click',function() {
    if(form.style.display == 'none'){
      form.style.display = 'block';
    }else{
      form.style.display = 'none';
    }
  });
</script>

<%- include('partials/footer.ejs') -%>
