<%- include('../partials/header') -%>

<div class="hero-wrap hero-bread" style="padding-top:2%;padding-bottom:5%");>
    <div class="container" >
      <div class="row no-gutters slider-text align-items-center justify-content-center">
        <div class="col-md ftco-animate text-center" style="position:center;">

          <div class="wrap" style= "border: 1px solid; padding: 10px; box-shadow: 5px 5px green; background-color: white; ">

         <h1 class="text py-3 pb-3 px-6 text-center" >
            Your order is received.<br>Thank you for shopping with us.<br> We will contact you shortly! <br>
            </h1>
          <a href="/"><h3 class="btn btn-black py-3 px-5" style="margin-top:3%;">Click here to continue shopping</h3></a>

           </div>
        </div>
      </div>
    </div>
  </div>

<%- include('../partials/footer') -%>
