<%- include('../partials/header') -%>

  <div class="container">
<div class="row">

  <div class="col-md-6 col-lg-3 ftco-animate">
    <div class="text py-3 pb-4 px-3 text-left">


    <p class="text py-3 pb-4 px-3 text-left">
        Sorry we do not deliver to this location at the moment!
    </p>

    <div class="row">
    
      <div class="col-md-6">
        <a href="/"><span style = "padding-top: 8%;"><button  class="btn btn-black py-2 px-3" type="submit" name="button" style = "margin-top:8%;" >Back to Homepage</button></span></a>
      </div>
    </div>


    </div>
  </div>
</div>
</div>



<%- include('../partials/footer') -%>
